@import "~antd/dist/reset.css";
@import "./reset.scss";
@import "./font.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
}

*:focus {
  outline: 0;
}
