:root {
  --header-mobile-height: 90px;
  --primary-color: #e85205;
  --dark1-color: #363842;
  --animate-duration: 1000ms;
  --primary: #23adad;
  --greyLight: #23adade1;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
}
